{% extends "base.html" %}


{% block content %}
  <div class="container mt-5">
    <div class="row">
         <div class="col-md-4 ">
        <h2 class="text-white bg-dark text-center p-3">Insert Student Details</h2>
        <br>


        <form action="/insert" method="post"> {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="name" required placeholder="Enter the student Name">
            </div>

               <div class="form-group">
                <input class="form-control mt-2" type="email" name="email" required placeholder="Enter the student Email">
            </div>

            <div class="form-group">
                <input type="number" class="form-control mt-2" name="age" required placeholder="Enter the student Age">

            <div class="form-group ">
                    <select name="gender" id="inputState" class="form-control">
                        <option selected >Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="other">Others</option>
                        
                    </select>
               </div>
            </div>
            <br>
            <div class="d-grid gap-2">
            <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
        </br>
        </div>
        <div class="col-md-8">
        <h2 class="text-center text-white bg-dark p-3">Student Details</h2>
          <table class="table table table-light table-striped-columns">
  <thead>
    <tr >
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>

    </tr>
  </thead>
  <tbody>
{% for d in data %}
    <tr>
      <th scope="row">{{d.id}}</th>
      <td>{{d.name}}</td>
      <td>{{d.email}}</td>
      <td>{{d.age}}</td>
      <td>{{d.gender}}</td>
      <td><a href="/delete/{{d.id}}" type="button" class="btn btn-outline-primary">Delete</a></td>
      <td><a href="/update/{{d.id}}" type="button" class="btn btn-outline-danger">Edit</a></td>
    </tr>
 {% endfor %}
    
  </tbody>
</table>    
      
      </div>
    </div>
  </div>
   {% endblock content %}